@media print {
    @page {
        size: 510mm 297mm;
        margin: 5mm;
    }
  }
   .tabl td{border-right: 1px solid #0070C0;
   border-left: 1px solid #0070c0;}
   .tabl tbody td{text-align: center !important;
   padding: 0px;}
   .page-header{border-bottom: none;}